<% if task.errors.any? %>
  <ul>
    <% task.errors.full_messages.each do |message|%>
        <li><%= message %></li>
    <% end %>   
  </ul>
<% end %>

<%= form_with model: task, local: true do |f| %>
  <%= f.label :title, t('view.title') %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content, t('view.content') %>
  <%= f.text_area :content %>
  <br>
  <%= f.label :updated_at, t('view.updated_at') %>
  <%= f.datetime_local_field :updated_at, value: DateTime.current.midnight %>
  <br>
  <%= f.submit t('button.create') %>
<% end %>