<h1>首頁</h1>
<%= link_to t('view.new'), new_task_path %>

<body>
  <h1>All Task</h1>
  <table>
    <thead>
      <tr>
        <th><%= sort_link(@q, t('view.title')) %></th>
        <th><%= sort_link(@q, t('view.aasm_state')) %></th>
        <th><%= t(:end_time) %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr class="task-row", id="task_1">
        <td><%= task.title %></td>
        <td><%= task.aasm_state %></td>
        <td><%= task.updated_at.strftime('%F %R') %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('view.destroy'), task_path(task), method:'delete', data: { confirm: '確認刪除？'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>